@charset "UTF-8";

body {
	background-color: rgba(249, 247, 253);
}
.question-body{
	min-height: 1100px;
}

.wrap {
	margin: 0 auto;
	width: 700px;
	height: 760px;
	padding: 20px 0px 240px 0px;
	background-color: rgba(252, 253, 254);
	border-radius: 5px;
	margin-top: 80px;
	box-shadow: 0 4px 10px 0 lightgray;
}

img {
	width: 93%;
	padding: 0 25px;
}

.mForm {
	padding: 0px 30px;
}

.input-h {
	display: flex;
}

.input-area1 {
	text-align: left;
	width: 150px;
	padding: 0px 5px;
}

.input-area2 {
	width: 270px;
	height: 60px;
}

.input-area2 input {
	height: 30px;
	width: 150px;
	background-color: rgba(252, 253, 254);
	border: 0.5px solid lightgray;
	border-radius: 5px;
}

.sub-btn {
	height: 45px;
	width: 100%;
	border: none;
	border-radius: 20px;
	background-color: rgba(51, 51, 51);
	color: white;
}
.sub-btn:hover {
	background: rgba(255, 75, 85);
}

.input-area3 {
    padding: 0px 0px;
    width: 450px;
	height: 50px;
}
.input-area3 input[type=radio]{
    display: none;
}
.input-area3 input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 35px;
    width: 90px;
    border: 1px solid lightgray;
    border-radius: 20px;
    line-height: 35px;
    text-align: center;
    font-weight:bold;
    font-size: 13px;
}
.input-area3 input[type=radio]+label{
    background-color: #fff;
    color: #333;
}
.input-area3 input[type=radio]:checked+label{
    background-color: rgba(255, 75, 85);
    color: #fff;
}



.input-area4 {
    padding: 0px 0px;
    width: 450px;
	height: 50px;
}
.input-area4 input[type=radio]{
    display: none;
}
.input-area4 input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 35px;
    width: 90px;
    border: 1px solid lightgray;
    border-radius: 20px;
    line-height: 35px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
}
.input-area4 input[type=radio]+label{
    background-color: #fff;
    color: #333;
}
.input-area4 input[type=radio]:checked+label{
    background-color: rgba(255, 75, 85);
    color: #fff;
}

.check_account {
	text-align: right;
	color: gray;
	font-size: 0.8em;
}

.gohome {
	color: gray;
}

.gohome:hover {
	color: rgba(255, 75, 85);
}
