@charset "UTF-8";
.bottom-container {
	display:flex;
	margin: 40px 20px;
	font-size:13px;
}
.bottom-title {
	display:flex;
	justify-content: center;
	align-items: center; 
	margin-left: 5vw;
}

.bottom-box>li {
	margin-bottom: 5px;	
}
.bottom-box>li:last-of-type {
	margin-bottom: 0px;	
}
.bottom-mid {
	display: flex;
	justify-content: space-between;
}
.bottom-mid li {
	margin-left:20px;
}
.bottom-mid li:first-child {
	margin-left:0px;
}
.bottom-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width:20%;
}

.bottom-logo img {
	width: 100%;
}


@media ( min-width: 1800px ) {
	.bottom {
		margin-top:20vh;		
	}
	
	.bottom-container {
		font-size:15px;
		margin: 150px 20px 20px 20px;
	}
	.bottom-logo {
		width: 30%;
	}
	.bottom-logo img {
		width: 50%;
	}
	.bottom-box>li {
		margin-bottom: 10px;	
	}		
}
/*media 1800px*/

