@charset "UTF-8";
/*a태그 설정*/
a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}

ul,li{
	margin:0;
	padding:0;
	list-style: none;
}
body{
	background-image:url('/recipeImg/recipe.jpg');
	background-repeat : no-repeat;
    background-size : cover;
}
#writeFrm{
	background-color: white;
	opacity: 0.9;
}
input:focus, select:focus, textarea:focus{
	outline:none;
}

/*왼쪽 div(제목, 이미지 추가)-------------------------------------------*/
#writeFrm{
	margin:85px;
	padding:50px;
	overflow:auto;
	border-radius:20px;
	border:1px solid #ddd;
}
#imgDiv{
	width:35%;
	height:80%;
	float: left;
	margin-right:40px;
}
#imgDiv>button{
	width:90px;
	height:30px;
	border:none;
	border-radius:30px;
	background-color: #FF5454;
	color:white;
}
#file {
	display: none
}
#imgfile{
	width:30px;
	float:right;
	margin-right:5px;
}
#preview{
	width:100%;
	height:100%;
	margin-top:8px;
}

/*오른쪽 div(레시피 정보)-------------------------------------------*/
#recipeInfo{
	padding-top:10px;
	width:60%;
	float:left;
}
#recipeInfo>p>input[type=text]{
	width:60%;
	height:30px;
	padding:10px;
	border:1px solid rgb(200,200,200);
	font-size:12pt;
}
#recipeInfo>p{
	text-align:center;
	font-weight: bold;
}
#recipeInfo>p>button{
	float:right;
}
#content{
	margin-left:5%;
	margin-right:5%;
	padding:15px;
	width:90%;
	height:270px;
	border:1px solid rgb(200,200,200);
	resize: none;
	font-size:11pt;
}
/*재료 리스트*/
#ingredList{
	margin:0 auto;
	height:70px;
	text-align: center;
	margin-bottom:30px;
	overflow:auto;
}
#ingredList>li{
	font-size: 11pt;
	cursor: pointer;
}
#ingredList>li:hover{
	font-weight: bold;
}
/* x */
.times{
	color:#FF5454;
}
#recipeInfo>input[type=submit]{
	width:75px;
	height:30px;
	border:none;
	border-radius:30px;
	background-color: #FF5454;
	color:white;
	cursor: pointer;
	float:right;
	margin-top:10px;
	margin-right:40px;
}
#recipeInfo>input[type=reset]{
	width:75px;
	height:30px;
	border:none;
	border-radius:30px;
	background-color: #FF5454;
	color:white;
	cursor: pointer;
	float:right;
	margin-top:10px;
	margin-right:40px;
}

/*모달창-------------------------------------------------*/
.modal-dialog{
	max-width: 55%;
    margin: 2rem auto;
}
.modal-body{
	height:500px;
}
#closeBtn{
	width:70px;
	height:27px;
	border:none;
	border-radius:30px;
	background-color: #FF5454;
	color:white;
	cursor: pointer;
}

/*재료 리스트 div*/
#ingredView{
	padding-top:10px;
	width:50%;
	height:100%;
	float:left;
}
#ingredView>hr{
	margin-bottom:10px;
	border:1px solid #ffd0d0;
	opacity: 0.5;
}
#ingredView p{
	text-align: center;
	margin-bottom:7px;
}
#ingredSearch>select{/*카테고리*/
	width:18%;
	height:30px;
	border-radius:10px;
	border-color:rgb(200,200,200);
	font-size:11pt;
	text-align: center;
}
#ingredSearch>select>option{
	text-align: center;
}
#ingredSearch>input[type=text]{/*검색창*/
	width:60%;
	height:30px;
	padding:10px;
	border-radius:10px;
	border:1px solid rgb(200,200,200);
}
#ingredSearch>input[type=submit]{/*검색 버튼*/
	width:18%;
	height:30px;
	border:none;
	border-radius:30px;
	background-color: #FF5454;
	color:white;
	cursor : pointer;
}

/*재료 리스트 출력*/
.list-group-item{
	height:40px;
	line-height:40px;
	font-size:11pt;
	padding:0;
	padding-left:10px;
}

/*페이징*/
.paging{
	text-align: center;
	margin-left:4px;
	margin-top:10px;
}
.paging>a>li{
	display:inline-block;
	width:25px;
	height:25px;
	line-height:24px;
	text-align:center;
	font-size:10pt;
	margin-right:4px;
	border-radius:10px;
	background-color: rgb(235,235,235);
}
.active_list{
	color:white;
	background-color:#FF5454 !important;
}

/*재료 추가 폼-------------------------------------------*/
#ingredFrm{
	background-color:#f4f4f4;
	border-radius:20px;
	width:47%;
	height:100%;
	float:left;
	margin-left:18px;
}
#ingredFrm>p{
	text-align: center;
	margin-top:20px;
}

/*계량 아이콘 div*/
#measurement{
	text-align: center;
	padding-left:16px;
 	margin-top:40px;
}
#measurement>li{
	display:inline-block;
	margin-right:15px;
	cursor: pointer;
	margin-bottom:10px;
}
#measurement>li>img{
	width:70px;
}

/*gram 입력 div*/
#ingredInfo{
	width:145px;
	margin:0 auto;
	margin-top:20px;
}
#ingredInfo>p{
	text-align: center;
}
#ingredGram{
	width:130px;
	height:27px;
	line-height:27px;
	font-size:11pt;
	text-align: center;
	border-radius:30px;
	border:none;	
	margin-bottom:20px;
}
#ingredBtn{
	width:50%;
	margin:0 auto;
	margin-top:30px;
}
#ingredBtn>input[type=submit],#ingredBtn>input[type=reset]{
	float:left;
	width:43%;
	height:30px;
	border:none;
	border-radius:30px;
	background-color: #FFA733;
	color:white;
	cursor : pointer;
}
#ingredBtn>input[type=reset]{
	float:right;
}